<h1>About</h1>
<p>
	<%= link_to "That's My Move", "http://www.thatsmymove.com" %>
	is a project to teach the world to dance, and is built on 
	<%= link_to "Ruby on Rails", "http://rubyonrails.com" %>
</p>

